@{
    ViewBag.Title = "TongDoanhThu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tong Doanh Thu</h2>

<p>
    Doanh thu tháng @ViewBag.Thang: @ViewBag.TongDoanhThu
</p>

<p>
    @Html.ActionLink("Back to Index", "Index")
</p>

