#content {
    margin-left: 400px;
}

#main {
    margin-left: 400px;
}

label {
    margin-right: 70px;
    margin-left: 30px;
}

div {
    margin-bottom: 50px;
}

#btn-input {
    margin-left: 390px;
    margin-bottom: 30px;
}

body {
    background-color: lightgray;
}

#main-child {
    background-color: white;
    width: 900px;
}

#div_ctr_1 {
    padding-top: 0px;
}